.App {
  margin-top: 0px;
  margin-inline: 30vw;
  min-height: 100vh;
  border: 1px solid black;
  min-width: 600px;
  max-width: 700px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .App {
    margin-inline: 0;
  }
}
a {
  text-decoration: none;
  color: white;
}
/**
   * Css cho phần tạo Task mới
   */
.bodynewtask {
  width: 450px;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
.inputnewtask {
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

label {
  font-weight: bolder;
  font-size: smaller;
}
.description {
  max-width: 98.5%;
  min-width: 98.5%;
  min-height: 100px;
  margin-right: 5px;
}
.pioritynduedate {
  margin: 0;
  position: relative;
  display: inline-flex;

  width: 100%;
}
.duedate {
  width: 200px;
}
.duedate div input {
  width: 200px;
  min-height: 30px;
}
.piority {
  position: absolute;
  right: 0px;
}
.piority select {
  width: 200px;
  min-height: 34px;
}
.piority select option {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 30px;
}
.addbutton {
  width: 100%;
  min-height: 35px;
  background-color: rgb(47, 138, 47);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  color: white;
  font-size: medium;
}
.todolistbody {
  width: 450px;
  margin: auto;
  padding: 0;
  overflow: hidden;
  min-height: 80vh;
}
.inputsearch {
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;

  margin-bottom: 20px;
}
/**
   * Css cho nút checkbox
   */
.checkboxcontainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-block: 15px;
  margin-left: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid black;
}
.checkboxcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkboxcontainer input:checked ~ .checkmark {
  background-color: #ffffff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkboxcontainer .checkmark:after {
  left: 12px;
  bottom: 7px;
  width: 5px;
  height: 20px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/**
   * Css cho các Task trong danh sách
   */
.taskelement {
  position: relative;
  border: 1px solid black;
  margin-bottom: 20px;
}
.taskbuttons {
  position: absolute;
  top: 13px;
  right: 0px;
}
.taskbuttons button {
  margin-right: 25px;
  padding: 0;
  min-height: 25px;
  min-width: 70px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.detailbutton {
  background-color: rgb(86, 101, 190);
}
.removebutton {
  background-color: rgb(233, 25, 25);
}
.bulkactionwraper {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #ccc;
  border: 2px solid #4caf50;
}
.bodyupdatetask {
  width: 400px;
  margin: auto;
  padding: 0;
  margin-block: 15px;
}
.inputupdatetask {
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.pioritynupdateduedate {
  margin: 0;
  position: relative;
  display: inline-flex;
  width: 100%;
}
.duedateupdate {
  width: 180px;
}
.duedateupdate div input {
  width: 180px;
  min-height: 30px;
}
.piorityupdate {
  position: absolute;
  right: 0px;
}
.piorityupdate select {
  width: 180px;
  min-height: 34px;
}
.piorityupdate select option {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 30px;
}
